
:root {
--black-color: #212121 ;
--dark-gray-color:#2F303A ;
--black-000-color: #000000 ;
--blue-color: #2196F3 ;
--dark-blau:#188CE8 ;
--gray-color: #757575 ;
--white-color: #ffffff ;
--team-bg-colore:#F5F4FA ;;
--footer-address-clr: rgba(255, 255, 255, 0.6); 
/*------------portfolio----------------*/
--dark-white:#F5F4FA ;
--portf-btm-txt-clr:#212121 ;
--portf-title: #212121 ;
--portf-text:#757575;
--portf-btm-bg-effct:#2196F3;
--portf-btm-tx-effct: #ffffff ;
 }

.list{
    list-style: none;
}

.link{
    text-decoration: none;
}

body{
    font-family:"Roboto", sans-serif ;
    color: var(--black-color);
}

 /*-------------------- Header-----------------*/

.header {
    color:var(--white-color);
}
.second-logo-color {
    font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height:calc(31/26);
letter-spacing: 0.03em;
    color:var(--black-000-color) ;
}
.logo-color {
    color: var(--blue-color);
}
.header-list {
}
.navig {
}
.header-item {
}
.header-link {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--black-color);
}
.header-link:hover  {
 color: var(--blue-color);
 ;
}
.focus-header:focus{
    color: var(--blue-color);
}


.header-contact {
}
.contact-item {
}
.contact-link {
    font-weight: 500;
font-size: 14px;
line-height: calc(16/14);
letter-spacing: 0.02em;
    color: var(--gray-color);
}

.contact-clr-change:hover , .contact-clr-change:focus{
color: var(--blue-color);
}
.middle-section {
    background-color: var(--dark-gray-color);
}
.middle-title {
    font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
    color: var(--white-color);
}

/* .mdl-btm-chg:hover , .mdl-btm-chg:focus{ 
    background-color: #188CE8;
}*/
.middle-button{
    font-family:inherit;
    font-weight: 700;
font-size: 16px;
line-height: 1.88;
background-color: var(--blue-color);
color: var(--white-color);
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;

}

.btm-settings:hover , .btm-settings:focus{
    background-color: var(--dark-blau);
    cursor: pointer;

}
.middle-advant {
   
}
.middle-list {
}
.middle-item {
}
.advant-title {
font-weight: 700;
font-size: 14px;
line-height: calc(16/14);
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--black-color);
}
.middle-text {
    font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--gray-color);
}
.function {
    
}
.function-title {
font-weight: 700;
font-size: 36px;
line-height: calc(42/36);
text-align: center;
letter-spacing: 0.03em;
}
.function-list {
}
.function-item {
}

.team-section {
    background-color: var(--team-bg-colore);
}
.team-title {
color: var(--black-color);
font-weight: 700;
font-size: 36px;
line-height: calc(42/36);
text-align: center;
letter-spacing: 0.03em;
}
.team-list {
}
.team-item {
    background-color: var(--white-color);
}
.team-name {
color: var(--black-color);
font-weight: 500;
font-size: 16px;
line-height: calc(19/16);
text-align: center;
letter-spacing: 0.03em;
}
.team-text {
color: var(--gray-color);
font-weight: 400;
font-size: 16px;
line-height: calc(19/16);
text-align: center;
letter-spacing: 0.03em;
}

.footer {
    background-color: var(--dark-gray-color);
    
}
.footer-logo {
color: var(--white-color);
font-weight: 700;
font-size: 26px;
line-height: calc(31/26);
letter-spacing: 0.03em;
font-family: 'Raleway';
font-style: normal;


}
.end-logo-color {
    color: var(--blue-color);
}
.footer-address {
}
.footer-list {
}
.footer-item {
    font-style: normal;

}
.footer-link {
 color: var(--footer-address-clr);
 font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
}
.footer-addr-clr{
    color:var(--white-color) ;
}


/* -----------portfolio-------------*/

.portf-body{
    background-color: ;
    font-family:"Roboto", sans-serif ;
    color: var(--black-color);

}

.prtf-header{
    background-color: var(--white-color);
     }
    .visually-hidden {
        position: absolute;
        white-space: nowrap;
        width: 1px;
        height: 1px;
        overflow: hidden;
        border: 0;
        padding: 0;
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        margin: -1px;
    } 

.filter{
    background-color: var(--white-color);
}

.portfolio-btm{
    font-family:inherit;
    background-color: var(--dark-white);
  color: var(--black-color);
  border: 0px;
  font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
cursor: pointer;

}

.btm-hover:hover {
    background-color: var(--blue-color);
    color:var(--white-color);
 }

 .btm-focus:focus{
    background-color:var(--blue-color) ;
    color:var(--white-color);
 }

 .portfolio-title{
    font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--black-color);
 }

 .portfolio-text{
    font-weight: 400;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.03em;
color: var(--gray-color);

 }